		@keyframes exit-load {
			0% {
				opacity: 1;
				visibility: visible;
			}

			100% {
				opacity: 0;
				visibility: hidden;
			}
		}

		@keyframes load-scale {
			0% {
				scale: 0.5;
			}

			50% {
				scale: 1;
			}

			100% {
				scale: 0.5;
			}
		}

		.loader {
			position: fixed;
			inset: 0;
			z-index: 500;
			/* background-color: #000; */
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 1;
			visibility: visible;
			pointer-events: none;
		}

		.loaded .loader {
			animation: exit-load 0.45s ease 0.6s forwards;
		}

		.loader img {
			display: inline-block;
			width: 200px;
			animation: load-scale 1.5s linear infinite;
		}
